#result-box {
  width: 620px;
  background-color: rgb(243, 128, 199, .4);
}
#result {
  /* text-align: center; */
  font-weight: bold;
  font-size: 1.5em;
  line-height: 2.5em;
  color: crimson;
  margin: 0 auto;

}
#pointbold {
  display: block;
  padding: 10px;
  margin: 0 auto;
}